p.verso {

    color: blue;


}

p.mote {

    color: red;
}

/* a:link {
    text-decoration: none;
    color: #00F;
   }
   
   a:hover {
    text-decoration: underline;
    color: #F00;
   } */
/* a:link {
    background: #ddd8d8;
    text-decoration: none;
    font-weight: bold;
    border-width: 4px;
    border-style: solid ;
   
   }
   
   a:hover {
    background: #B1B1B1;
    color: #FFF;
    font-weight: bold;
    border-color: #B1B1B1;
   } */

div.poeta>img {
    border-radius: 40px;
}


a:link {
    color: white;
    background: #38761d;
    background: linear-gradient(#6aa84f, #38761d 50%, #6aa84f);
    border: 1px solid #556699;
    border-radius: 1000px;
    padding: 16px 15px;
    display: inline-block;
    font: normal bold 15px/1 "Roboto", sans-serif;
    text-align: center;
    text-decoration: none;
}

a:hover {
    background: #38761d;
    background: linear-gradient(#6aa84f, #38761d 50%, #6aa84f);
    border: 1px solid #556699;
    border-radius: 1000px;
    padding: 16px 15px;
    color: #ffffff;
    display: inline-block;
    font: normal bold 15px/1 "Roboto", sans-serif;
    text-align: center;

}

table {
    border-collapse: collapse;
    width: 50%;
}

th {
    background-color: cadetblue;

}

th,
td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: rgb(164, 157, 172);
}

tr:hover {
    background-color: rgb(84, 74, 85);
}